/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
==============================
Body
==============================
 */
html body {
  color: #777;
  background: url("../images/concrete_seamless.png");
  background-repeat: repeat;
  background-size: auto;
  background-color: #7c9dda;
}

/* 
==============================
Header
==============================
 */
header {
  background: #fff;
  width: auto;
  height: 100px;
  border-bottom: 3px solid #ccc;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-left: 25%;
  padding-right: 5%;
  position: sticky;
  top: 0;
  z-index: 20;
}

h1 {
  padding: 35px 20px;
  height: auto;
  background: #4aaaa5;
  color: #fff;
  font-size: 30px;
  float: left;
}

/* 
==============================
Navigation
==============================
 */
.nav {
  float: right;
  margin-top: 30px;
  font-size: 18px;
}
.nav li {
  display: inline-block;
  margin: 10px 0px;
  text-align: right;
}
.nav li a {
  text-decoration: none;
}

/* 
==============================
Main Content
==============================
 */
.aboutbox{
  clear: both;
  width: 50%;
  position: relative;
  left:25%;
  margin-top: 40px;
  padding: 25px;
  background: #fff;
  border: 4px solid #ddd;
}
h2{
  padding: 10px;
  color: #4aaaa5;
  font-size: 30px;
  border-bottom: 3px solid #ccc;
}
.image {
  width: 140.4px;
  height: 166.8px;
  margin: 15px 15px 5px 5px;
  border: 2px solid #666;
  float: left;
}
p {
  font-size: 20px;
  line-height: 2em;
}

/* 
==============================
Portfolio Boxes
==============================
*/
.portfoliobox {
  clear: both;
  width: 920px;
  height: 850px;
  position: relative;
  left:25%;
  margin-top: 40px;
  padding: 25px;
  background: #fff;
  border: 4px solid #ddd;
}
.picturebox {
  position: relative;
  width: 400px;
  height: 200px;
  margin: 40px 30px 20px 0;
  float: left;
}
.foliofont {
  inline-size: 400px;
  font-size: 20px;
  color: #fff;
  background: #4aaaa5;
  text-align: center;
  position: absolute;
  top: 150px;
}

/* 
==============================
Contact
==============================
*/
.contactbox {
  clear: both;
  width: 920px;
  height: auto;
  position: relative;
  left:25%;
  margin-top: 40px;
  padding: 25px;
  background: #fff;
  border: 4px solid #ddd;
}

/* 
==============================
Contact Form
==============================
*/
.contactform {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 20px 20px 60px 0;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type=submit] {
  background-color: #4aaaa5;
  color: #fff;
  margin-top: 12px;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  float: left;
}
input[type=submit]:hover {
  background-color: #327470;
}


/* 
==============================
Footer
==============================
*/
footer {
  clear: both;
  height: 50px;
  background: #666;
  border-top: 8px solid #4aaaa5;
  color: #bbb;
  margin-top: 400px;
  text-align: center;
  position: sticky;
  bottom: 0;
  z-index: 10;
}
footer p {
  padding-top: 18px;
  font-size: 16px;
}

/* 
==============================
Media Queries 980
==============================
*/
@media only screen and (min-width: 980px) {
  
}

/* 
==============================
Media Queries 768
==============================
*/
@media only screen and (max-width: 768px) {
  header {
    padding-left: 5%;
  }
  h1 {
    padding: 35px 10px;
    font-size: 30px;
    float: left;
  }
  /*
  =======================
  About Me 768
  =======================
  */
  .aboutbox{
    clear: both;
    width: 90%;
    position: relative;
    left: 5%;
    margin-top: 20px;
    padding: 5px;
  }
  /*
  =======================
  Portfolio 768
  =======================
  */

  /*
  =======================
  Contact 768
  =======================
  */
}

/* 
==============================
Media Queries 640
==============================
*/
@media only screen and (max-width: 640px) {
  header {
    padding-left: 0%;
    padding-right: 0%;
    position: static;
  }
  h1 {
    padding: 15px 5px;
    width:100%;
    font-size: 25px;
    text-align: center;
  }
  .nav {
    width: 100%;
    /* float: right; */
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
  }
  .nav li {
    margin: 10px 0px;
    text-align: center;
  }
  /*
  =======================
  About Me 640
  =======================
  */
  .aboutbox{
    clear: both;
    width: 90%;
    position: relative;
    left: 5%;
    margin-top: 20px;
    padding: 5px;
  }
  h2{
    padding: 5px;
    font-size: 40px;
  }
  .image {
    width: 97%;
    height: 97%;
  }
  p {
    clear: both;
    font-size: 25px;
    line-height: 1.5em;
  }

  /*
  =======================
  Portfolio 640
  =======================
  */
  .portfoliobox {
    clear: both;
    width: 90%;
    height: 1350px;
    position: relative;
    left:5%;
    margin-top: 20px;
    padding: 5px;
    /* background: #fff;
    border: 4px solid #ddd; */
  }
  .picturebox {
    position: relative;
    width: 97%;
    /* height: 97%; */
    margin: 20px 12px 20px 12px;
    float: left;
  }
  .foliofont {
    inline-size: 100%;
    font-size: 20px;
    color: #fff;
    background: #4aaaa5;
    text-align: center;
    position: absolute;
    top: 150px;
  }
  img {
    height: 100%;
    width: 100%;
  }
  /*
  =======================
  Contact 640
  =======================
  */

  /*
  =======================
  Footer 640
  =======================
  */
  footer {
    position: static;
  }
}
